<div class="container">
    <div class="content">
        <app-title title="Review Your Order" fontSize="1.6rem"></app-title>
        <form [formGroup]="checkoutForm">
            <text-input [control]="fc.name" label="Name" [showErrorsWhen]="isSubmitted"></text-input>
            <text-input [control]="fc.address" label="Address" [showErrorsWhen]="isSubmitted"></text-input>
        </form>
        <order-item-list [order]="order"></order-item-list>
    </div>

    <div class="buttons-container">
        <div class="buttons">
            <button (click)="createOrder()">
                Go To Payment
            </button>
        </div>
    </div>
</div>